@import "tailwindcss";

:root {
  /* הפקודה הזו מכריחה את הדפדפן להתעלם ממצב הלילה של המחשב שלך! */
  color-scheme: light !important;

  --background: #fdfbf7;
  --foreground: #4a3f35;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* פלטת החתונה שלנו */
  --color-wedding-beige: #fdfbf7;
  --color-wedding-sand: #e8e1d5;
  --color-wedding-brown: #8c7a6b;
  --color-wedding-dark: #4a3f35;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
  direction: rtl;
}
